body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
  }


  #mainGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3);
    grid-gap: 1rem;
  }

  .span-2{
     grid-column: span 2;
  }

  #timeVisualize {
    grid-column: span 4;
  }

  .border {
      border: 1px solid black
  }

  .padding {
      padding: 1rem
  }

  .flightsContainer{
      height: 75vh;
      overflow: scroll;
      padding: 1rem;
  }



  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card:hover {
    background-color:  #e6f5ff;
    transition: 1s;
    cursor: pointer;
    box-shadow: 3px 2px 2px lightblue;
}

.card {
    padding: .5rem;
    border-radius: 5%;
}

.center {
    margin: auto;
}
